:root {
    --white: rgb(223, 240, 240);
    --main: rgb(240, 219, 219);
    --blue: darkcyan;
    --darkgreen: rgb(7, 54, 7);
    --aqua: hsl(177, 86%, 66%);
    --black: rgb(34, 33, 33);
    --hover: hsl(12, 74%, 46%);
    --lavender: rgb(21, 21, 128);
}


main {
    flex-wrap: wrap;
}

body{
    background-color: var(--main);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    padding: 0;
}

.wrapper_w{
    margin: 0 auto;
    width: 1000px;
}
header {
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    padding: 20px;
    background-color: var(--blue);
}

header h1 {
    display: inline-block;
    font-size: 42px;
}

.nav {
    padding-top: 0;
    float: right;
    margin-right: 20px;
    margin: 0;  
}

a:hover {
    background-color: var(--hover);
    cursor: hand;
}

header nav ul li{
    display: inline-block;
    padding:0;
}

a {
    color: var(--white);
    cursor: pointer;
}

.picture {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-size: cover;
    background-position:center;
    background-image: url("../images/gulshat.jpeg");
}
main section {
    color: var(--darkgreen);
}

main section img {
    width: 300px;
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.wrapper h2 {
    float: left;
    width: 600px;
    padding: 30px;
    margin: 0 auto;
    font-size: 35px;
}

p {
    font-size: 20px;
    padding: 20px;
    text-align: auto;
    margin-bottom: 30px;

}

.work h2 {
    float: left;
    width: 600px;
    padding: 30px;
    margin: 0 auto;
    font-size: 35px;
}
 
.work {
    display: inline-flex;
    float: left;
}
.vl {
    border-left: 6px solid var(--darkgreen);
    height: 600px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    margin-top: 32%;
    top: 0;

}

.content_img {
    position: relative;
    font-family: sans-serif;
    padding: 10px;
    float: right;
}

.content_img:hover {
    background-color: var(--aqua);
    border-radius: 5%;
}

.content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--black);
    color: var(--white);
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0s,opacity 0.5s linear;
    transition: visability 0s, opacity 0.5s linear;
}

.content_img:hover div {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
    cursor: pointer;
}

.contact a{
    color: var(--darkgreen);
}

.contact h3 {
    float:left;
    font-size: 35px;
    float: left;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    font-size: 35px;
}

.contact ul li {
    padding: 40px;
    float: right;
    margin-right: 20px;
    margin: 10 10 10 10; 
    font-size:20px;
}

footer {
    font-family: cursive;
    font-size: 20px;
    padding: 450px;
    text-align: center;
}

@media screen and (max-width: 350px) 